body {
    font-family: Georgia, serif;
    text-align: center;
    background-color: #f8c8dc;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px 20px;
    position: relative;
}

.back-btn {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.title {
    font-size: 70px;
    font-weight: bold;
    color: black;
}

.subtitle {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}

.photo {
    background-color: #d3d3d3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.photo img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.photo:hover {
    transform: scale(1.1);
}

.photo.selected {
    border: 5px solid green;
    box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.5);
}

.confirm-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.confirm-btn:hover {
    background-color: #d81b60;
}
